body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}

.block1{
    width: 25%;
    height: 100%;
    background-color: brown;
}
.block2{
    width: 25%;
    height: 100%;
    background-color: blue;
}
.block3{
    width: 25%;
    height: 100%;
    background-color: chocolate;
}

.block4{
    width: 25%;
    height: 100%;
    background-color: blueviolet;
}

.block1 li{
    background-color: antiquewhite;
    line-height: 2em;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
    text-align: left;
}

.block1 li:hover{
    background-color: cadetblue;
    color: aliceblue;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block2 li{
    background-color: antiquewhite;
    line-height: 2em;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\1F984";
}

.block2 li:hover{
    background-color: coral;
    color: aliceblue;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block3 li{
    background-color: antiquewhite;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block3 li:hover{
    background-color: darkseagreen;
    color: aliceblue;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block4 li{
    background-color: antiquewhite;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block4 li:hover{
    background-color: darksalmon;
    color: aliceblue;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.nav{
    position: sticky;
    top: 0;
    display: flex;
    text-align: right;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(161, 63, 82);
    font-size: 20px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    float: left;
}

.nav a:hover{
    background-color: rgb(241, 228, 212);
    color: black;
}

.block5{
    width: 100%;
    height: 300px;
    padding: 50%;
    background-color: antiquewhite;
}

.btn1{
    width: 300px;
    height: 70px;
    background-color: coral;
    color: white;
    padding: 15px 30px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(255, 0, 0);
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
}

.btn1:hover{
    background-color: bisque;
}

.btn1:active{
    background-color: rgb(15, 107, 15);
    color: rgb(175, 43, 43);
}


form{
    width: 100%;
    float: right;
    display: flex;
    position: absolute;
    left: 55%;
}

input{
    padding: 10px 20px;
    border: 1px;
    font-size: 20px;
}

.search{
    width: 40%;
}

.button{
    width: 5%;
    background-color: cadetblue;
    color: white;
}

.button:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: rgb(11, 11, 151);
}

.img_button{
    height: 2em;
    position: relative;
}
.img_button:hover{
    cursor: pointer;
}
